<main>
  <div class="container-fluid">
    <h1 class="mt-4">Posts</h1>
    <ol class="breadcrumb mb-4">
      <li class="breadcrumb-item"><a href="index.html">Posts</a></li>
      <li class="breadcrumb-item active">Lists</li>
    </ol>
    <div class="card mb-4">
      <% if can? :create, Post %>
        <%= link_to 'New Post', new_admin_post_path, class: 'btn btn-primary'%>
      <% end %>
    </div>
    <div class="card mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
              <tr>
                <th>Id</th>
                <th>Title</th>
                <th>Content</th>
                <th>User</th>
                <th></th>
                <th></th>
              </tr>
            </thead>
            <tbody>
              <% @posts.each_with_index do |post, idx| %>
                <tr>
                  <td><%= idx + 1 %>.</td>
                  <td><%= post.title %></td>
                  <td><%= truncate(post.content, :length => 200, :omission => '...') %></td>
                  <td><%= post.user.fullname ? '' : post.user.email %></td>
                  <th>
                    <% if can? :update, Post %>
                      <%= link_to 'Edit', edit_admin_post_path(post), class: 'btn btn-warning'%>
                    <% end %>
                    <% if can? :destroy, Post %>
                      <%= link_to 'Delete', admin_post_path(post), method: :delete, class: 'btn btn-danger'%>
                    <% end %>
                  </th>
                </tr>
              <% end %>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</main>